!!! html
html
	head
		title Home-simlr.me
		link(rel='stylesheet',href='/css/bootstrap.min.css')
		style.
			.container{
				margin-top : 3%;
			}
			li{
				list-style : none;
				float 	   : left;
				width 	   : 20%;
				border 	   : 1px solid #eee;
				margin 	   : 20px;
				padding    : 20px;
				border-radius : 5px;
				font-size 	: 2.5em;
				display 	: inline-block;

			}
			li:hover{
				border : 1px solid #3399FF;
			}
	body
		div.container
			div.row
				div.col.col-lg-12
					h1.
						Online users : #{onlineUsersCount}
					div.row
						div.col-lg-12.col
							ul#homeOptions
								li
									a(id='viewShouts',href='/shouts',target='_blank') Shouts
								li
									a(id='viewOnlineUser',href='/onlineUsers',target='_blank') Online Users
								li
									a(id='searchUsers',href='/userSearch',target='_blank') User Search
								li
									a(id='viewStats',href='/stats',target='_blank') Stats
								li
									a(id='viewChats',href='/chats',target='_blank') Chats
