!!! html
html
	head
		title ICA-simlr.me
		link(rel='stylesheet',href='/css/bootstrap.min.css')
	body
		div.container
			div.row
				div.col.col-lg-12
					h1 Welcome to simlr.me 
					hr
					.row
						.col.col-lg-6.col-offset-3
							form(class='form-horizontal',method='POST',action='/home')
								.row
									.col.col-lg-8
										input(type='password',id='password',placeholder='Passssswordddd',name='password')
									.col.col-lg-4
										button(type='submit',class='btn btn-default') Enter

