!!! html
html
	head
		title ICA-simlr.me
		link(rel='stylesheet',href='/css/bootstrap.min.css')
		style.
			.container{
				margin-top : 3%;
			}

			img,.user{
				border-radius : 5px;
			}
			li.user{
				list-style : none;
				width : 20%;
				float : left;
				margin : 5px;
				border : 1px solid #eee;
			}

	body
		div.container
			div.row
				div.col.col-lg-12
				h1 Online Users : #{onlineUsersCount}
				ul#onlineUsers
					each user in users
						li.user
							.userContainer
								.row
									.col.col-lg-6
										-userPicUrl = 'https://simlr.me'+user.userPic
										img(src=userPicUrl)
									.col.col-lg-6
										-var fbUrl = 'https://facebook.com/'+user.fbId
										h3
											a(href=fbUrl,class='fbUrl') #{user.name}
										-userProfileUrl = '/user/'+user.user_id;
										a(href=userProfileUrl,class='userProfileUrl') Rank : #{user.rank}

		script(type='application/javascript',src='/js/onlineUsers.js')
