!!! html
html
	head
		title The Ctrl Alt Del-simlr.me
		link(rel='stylesheet',href='/css/.css')
		link(rel='stylesheet',href='/css/bootstrap.min.css')
	body
		div.container
			div.row
				div.col.col-lg-12
				ul.pssts
					each psst in pssts
						li(class='psst',id=psst._id)
							p #{psst.psst}
				div.row
					div.col.col-lg-8
						input(type='text',placeholder='Question content',id='psstInputBox')
					div.col.col-lg-4
						button(id='psstSubmitButton',class='btn btn-default') Submit
		script(type='application/javascript',src='/js/jquery.js')
		script.
			$('#psstSubmitButton').click(function(){
			var q 	= $('#psstInputBox').val(),
				pid = document.location.href.split('/').reverse()[0];
				$.ajax({
					url : '/addPsst',
					type : 'POST',
					data : {
						psst 	 : q,
						pid 	 : pid
					}
				})
				.done(function(){
					window.alert('Added')
					document.location.reload();
				})
				.fail(function(){
					window.alert('Something wrong, failed')
					document.location.reload();
				})
			})
