!!! html
html
	head
		title The Ctrl Alt Del-simlr.me
		link(rel='stylesheet',href='/css/.css')
		link(rel='stylesheet',href='/css/bootstrap.min.css')
	body
		div.container
			div.row
				div.col.col-lg-12
				ul.questions
					each question in questions
						li(class='question',id=question._id)
							p #{question.q}
				div.row
					div.col.col-lg-8
						input(type='text',placeholder='Question content',id='questionInputBox')
					div.col.col-lg-4
						button(id='questionSubmitButton',class='btn btn-default') Submit
		script(type='application/javascript',src='/js/jquery.js')
		script.
			$('#questionSubmitButton').click(function(){
			var q 	= $('#questionInputBox').val(),
				pid = document.location.href.split('/').reverse()[0];

				$.ajax({
					url : '/addQuestion',
					type : 'POST',
					data : {
						question : q,
						pid 	 : pid
					}
				})
				.done(function(){
					window.alert('Added')
					document.location.reload();
				})
				.fail(function(){
					window.alert('Something wrong, failed')
					document.location.reload();
				})
			})
