!!! html
html
	head
		title Shouts-simlr.me
		link(rel='stylesheet',href='/css/bootstrap.min.css')
		style.
			.container{
				margin-top : 3%;
			}
			li.shout{
				list-style : none;
				width : 45%;
				float : left;
				border-radius : 5px;
				border : 1px solid #eee;
				margin : 10px;
				padding : 10px;

			}

	body
		.container
			.row
				.col.col-lg-12
				h1 Online shouts
				.row
					.col.col-lg-6.col-offset-4
					h1#alert
				.row
					.col.col-lg-12
						ul#shouts
							each shout in shouts
								li.shout
									.row
										.col.col-lg-6
											.row.shoutContent
												.col-lg-12.col
													p #{shout.content}
											.row.shoutTags
												.col.col-lg-12
													p Tags : #{shout.tags}
										.col.col-lg-2
											p #{shout.reportCount} Reports
										.col.col-lg-2
											a(class='deleteShout',href='#',id=shout._id) Delete
										.col.col-lg-2
											-var url = '/user/'+shout.shouter_id
											a(class='shouter',href=url,target='_blank') Shouter
				.row
					.col.col-lg-12
						ul.pager
							li.previous
								-var prevPageUrl = '/shouts?pageNo='+prevPageNo;
								a(href=prevPageUrl,class='previousPageButton') &larr; Previous
							li.next
								-var nextPageUrl = '/shouts?pageNo='+nextPageNo;
								a(href=nextPageUrl,class='nextPageButton') &rarr; Next
																			
		script(type='application/javascript',src='/js/jquery.js')
		script(type='application/javascript',src='/js/shouts.js')
