!!! html
html
	head
		title The Ctrl Alt Del-simlr.me
		link(rel='stylesheet',href='/css/.css')
		link(rel='stylesheet',href='/css/bootstrap.min.css')
	body
		div.container
			div.row
				.col.col-lg-12
					h3 Total users registered : #{totalUsers}
					h3 Total shouts shouted   : #{totalShouts}
					h3 Total Threads 		  : #{totalThreads}
					h3 Total Chats 			  : #{totalChats}
		script(type='application/javascript',src='/js/jquery.js')

