!!! html
html
	head
		title The Ctrl Alt Del-simlr.me
		link(rel='stylesheet',href='/css/.css')
		link(rel='stylesheet',href='/css/bootstrap.min.css')
	body
		div.container
			div.row
				div.col.col-lg-12
		script(type='application/javascript',src='/js/.js')
