!!! html
html
	head
		title ICA-simlr.me
		link(rel='stylesheet',href='/css/bootstrap.min.css')
		style.
			.container{
				margin-top : 10%;
			}
			img {
				border-radius : 5px;
			}
	body
		div.container
			.row
				.col.col-lg-4
					.userInfo
						-var normalPicUrl = 'https://www.simlr.me'+normalPic
						img(src=normalPicUrl,class='userPic')
						h3.
							#{name}
						p Gender : #{gender}
						- fbUrl = "https://facebook.com/"+fbId
						a(href=fbUrl) Facebook profile
				.col.col-lg-8
					.userDetails
						ul#details
							li.detail
								h3 Facebook Likes 	: 
									span.number #{fbLikesCount}
							li.detail
								h3 Facebook Friends : 
									span #{fbFriendsCount}
							li.detail
								h3 No. of cotacts   : 
									span #{contactsCount}
							li.detail
								h3 No. of shouts 	: 
									span #{shoutsCount}
							li.detail
								h3 Karma :
									span #{karma}
							li.detail
								h3 Reports : 
									span #{reportCount}
			hr
			.row
				.col-lg-8.col.col-offset-2
					.row
						.col.col-lg-4
							label(for='updateKarmaInput') Add/Remove Karma : 
						.col.col-lg-4
							input(type='text',id='updateKarmaInput')
						.col.col-lg-4
							button(id='updateKarmaSubmit', class='btn btn-default') Update
					hr
					.row
						.col.col-lg-6.col-offset-3
							button(id='deleteAccount',class='btn btn-block') Delete Account !

		script(type='application/javascript',src='/js/jquery.js')				
		script(type='application/javascript',src='/js/userProfile.js')
