!!! html
html
	head
		title The Ctrl Alt Del-simlr.me
		link(rel='stylesheet',href='/css/.css')
		link(rel='stylesheet',href='/css/bootstrap.min.css')
		style.
			li.user{
				list-style : none;
				width : 30%;
				float : left;
				margin : 5px;
				border : 1px solid #eee;
			}
	body
		div.container
			div.row
				div.col.col-lg-8
					input(type='text',placeholder='Enter user name',name='name',id='inputBox')
				div.col.col-lg-4
					button(id='searchSubmit',class='btn btn-default') Search
				ul.users
		script(type='application/javascript',src='/js/jquery.js')
		script.
			$('#searchSubmit').click(function(e){
				$.ajax({
					url : '/searchUser',
					data : {
						name : $('#inputBox').val()
					},
					dataType : 'json'
				})
				.done(function(d){
					$('.users').empty();
					if(!("name" in d[0])){
						$('.users').append('<h3>No users found .</h3>');
						return;
					}
					$.each(d,function(i,e){
						var html = "<li class='user'><div class='userContainer'><img src="+'https://www.simlr.me'+e.picUrl+"><a href="+'/user/'+e.user_id+">"+e.name+"</a></div>"
						$(html).appendTo('.users');
					});
				})
			})

